/* Default styles below */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */

  --color-grey: #2f2f2f;
  --color-input: rgba(47, 47, 47, 0.2);
  --color-error: #ff0000;
  --color-link: #2a363b;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-style: normal;

  /* min-height: 100vh; */
}

.section {
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  height: 100%;
  max-width: 375px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-left: 32px;
    padding-right: 32px;
  }
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-left: 48px;
    padding-right: 48px;
  }
  .container {
    max-width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
